<div class="admin-container-body">
	<mat-toolbar color="primary" class="admin_toolbar" >
	  <button mat-button (click)="sidenav.toggle()" > 
		<mat-icon>menu</mat-icon>
	  </button>
	  <h1 class="link" routerLink="/home">Gerenciador</h1>
	</mat-toolbar>
	<mat-sidenav-container class="admin_side-nav-container">
	<!-- <mat-sidenav-container class="admin_side-nav-container" [ngClass]="{'remove-margin-top': !isLogged}"> -->
	  <mat-sidenav #sidenav mode=over> 
		 <mat-nav-list>
		   <h3 mat-subheader>Cadastros</h3>
		   <a mat-list-item routerLink="/home" (click)="sidenav.toggle()">
			<mat-icon color="primary">person</mat-icon> 
			Pessoas</a>

			<h3 mat-subheader>Config</h3>
		   	<a mat-list-item routerLink="/home" (click)="sidenav.toggle()">
			<mat-icon color="primary">settings</mat-icon> 
			Perfil</a>
		 </mat-nav-list>
	  </mat-sidenav>
	  <mat-sidenav-content>
		<ngx-spinner></ngx-spinner>
		<router-outlet></router-outlet>
	  </mat-sidenav-content>
	</mat-sidenav-container>
  </div>